[flake8]
show-source = True
count = True
statistics = True
max-line-length = 120
require-plugins = flake8-docstrings, flake8-annotations
ignore = D205, ANN101
extend-ignore = W504

# D205: 1 blank line required between summary line and description
# ANN101: Missing type annotation for self in method
# W504: line break after binary operator
