[tool.pylint.main]
load-plugins = pylint.extensions.docparams
disable = R0913, R0914, W3101

# R0913: too-many-arguments
# R0914: too-many-locals
# W3101: missing-timeout

[tool.pylint.parameter_documentation]
accept-no-param-doc = False
accept-no-raise-doc = False
accept-no-return-doc = False
accept-no-yields-doc = False
default-docstring-type = numpy

[tool.pylint.format]
max-line-length = 120
