# YML file for setting up the Digital-Twin Python environment
# Locked down most package versions to reduce docker build to,e

name: digitaltwin
channels:
  - conda-forge
  - defaults
dependencies:
  - conda-pack>=0.7.1
  - python==3.11  # 11 for StrEnum
  - pip
  - python-dotenv==1.0.0
  - lxml==4.9.2
  - pandas==1.5.3
  - geopandas==0.12.2 # Needs to be explicit otherwise the dependencies required to use sjoin are not installed
  - rasterio==1.3.6 # Needs to be explicit as wheel fails to build if insalled as a dependency of geofabrics
  - python-pdal==3.2.2 # Not on PyPI so needs to be added here and not through pip geofabrics
  - pytest>=7.4.3
  - psycopg2==2.9.3 # Needed for Linux environments
  - validators==0.22.0  # Try remove in future
  - selenium==4.16.0
  - sqlalchemy==1.4.49 # To migrate to sqlalchemy 2 some db connection code needs to change
  - geoalchemy2>=0.14.2
  - plotly==5.18.0
  - geocube==0.4.2
  - pyarrow>=12.0.1
  - aiohttp==3.9.1
  - flask>=1.9.3
  - flask-cors==4.0.0
  - redis-py==5.0.1
  - botocore>=1.33.10 # Minimum version that is compatable with python >= 3.10 is botocore>=1.13.0
  - pip:
    - geovoronoi==0.4.0
    - geoapis==0.3.2
    - celery==5.2.7
    - gunicorn==20.1.0
    - git+https://github.com/LukeParky/NewZeaLiDAR.git@v0.2 # v0.1 for Windows, v0.2 for Linux

prefix: 
