beautifulsoup4
Fiona
GeoAlchemy2
geopandas
matplotlib
matplotlib-inline
numpy
psycopg2
pyproj
requests
scikit-learn
scipy
Shapely
sklearn
SQLAlchemy
urllib3
validators
PyYAML
geoapis @ git+https://github.com/niwa/geoapis@674463c8766097df81c10a853c232166b0d129a5
