name: Build & Publish Documentation
on:
  push:
    branches:
    - master
    - autodoc
jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./sphinx
    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
        fetch-depth: 0
        token: ${{ secrets.PUSH_PAGES_PAT }}
    - name: Install build dependencies
      run: |
        python -m pip install -r requirements.txt
    - name: Build Docs
      run: |
        sphinx-build -b html . _build
    - name: Copy to Github Pages dir
      run: |
        cp -a _build/. ../docs
    - name: Commit doc changes
      run: |
        git config --global user.name 'Luke Parkinson'
        git config --global user.email 'luke.parkinson@users.noreply.github.com'
        git add ../docs/*
        git commit -m "Automated update - Sphinx documentation"
        git push
